.table
    width: max-content
    border-spacing: 0

    th, td
        padding: 12px 16px
        text-align: left
        // For a more classic horizontally bordered table, remove Boxed and uncomment:
        // border-bottom: 1px solid var(--text-color)

    th:first-child, td:first-child
        padding-left: 0

    th:last-child, td:last-child
        padding-right: 0
